@model IEnumerable<WebApplication10.Models.İlan>
@{ int i = 0;}
@foreach (var item in Model)
            {
                i++;
                var c = 1;
                var active = i == 1 ? "active" : "";
                foreach (var rsm in ViewBag.imgs)
                {
                    if (rsm.IlanId == item.IlanId)
                    {
                        if (c == 1)
                        {
                            c++;
                <img src="/Content/images/@rsm.ResimAd" class="d-block w-100" alt="..." height="500">

            }
}
    }
    <div class="carousel-item active">
    </div>
}
